![image.png]()
# Set
### Linguagem de Programação (Prof. Dr. Henrique Dezani)
Curso de Tecnologia em Análise e Desenvolvimento de Sistemas

Faculdade de Tecnologia de São José do Rio Preto

## 1. Set (Conjunto)
Um **set** (conjunto) é como um dicionário sem os valores, apenas com as chaves. Como em um dicionário, cada chave deve ser única. Você pode utilizar um **set** quando quer apenas saber que existe algo e nada mais sobre isso. Use um dicionário se desejar anexar algumas informações à chave como um valor.
Suponha que você adote a união de dois conjuntos que possuem algumas chaves em comum. Como um conjunto deve conter apenas um de cada item, a união de dois conjuntos conterá apenas um de cada chave. O conjunto nulo ou vazio é um conjunto com zero elementos.

### 1.1. Criar um conjunto
Para criar um conjunto, use a função set() ou coloque um ou mais valores separados por vírgula entre chaves, conforme mostrado no exemplo abaixo:

In [ ]:
type(set())

In [1]:
type({1, 2})

set

In [2]:
conjunto_vazio = set()

In [3]:
print(conjunto_vazio)

set()

In [ ]:
numeros_pares = {0, 2, 4, 6, 8}

In [ ]:
print(numeros_pares)

In [ ]:
print(type(numeros_pares))

In [ ]:
x = 
print(type(x))

<class 'set'>

Além disso, é importante prestar atenção que, como `[]` cria uma lista vazia, você pode esperar que {} crie um conjunto vazio. Em vez disso, {} cria um dicionário vazio. É também por isso que o interpretador imprime um conjunto vazio como set() em vez de {}.

### 1.2. Converter de outros tipos de dados para conjunto com `set()`
Você pode criar um conjunto a partir de uma lista, string (sequência), tupla ou dicionário, descartando quaisquer valores duplicados. Primeiro, vamos dar uma olhada em uma string com mais de uma ocorrência de algumas letras:

In [ ]:
set('carta')

In [ ]:
# convertendo uma lista para conjunto:
lista = ['Fulano', 'Ciclano', 'Beltrano', 'Ciclano']
list(set(lista))

In [ ]:
# convertendo uma tupla para conjunto:
tupla = ('Fulano', 'Ciclano', 'Beltrano', 'Ciclano')
set(tupla)

In [ ]:
# convertendo um dicionário para conjunto:
dicionario = {'chave1':'valor1', 'chave2': 'valor2', 'chave2': 'valor3'}
set(dicionario)

### 1.3. Teste de valor usando `in`
Este é o uso mais comum de um conjunto. Faremos um dicionário chamado receitas. Cada chave é o nome de uma receita e o valor correspondente é um conjunto de seus ingredientes:

In [ ]:
receita = {'cenoura', 'leite', 'fermento', 'açúcar'}

'cenoura' in receita

## 1.4. Trabalhando com números...
A seguir são apresentados exemplos de todos os operadores de um conjunto.
Alguns têm pontuação especial, alguns têm funções especiais e alguns têm ambos. Usaremos os conjuntos de teste:

In [ ]:
a = {1, 2}
b = {2, 3}

Você obtém a interseção (membros comuns aos dois conjuntos) com o símbolo de pontuação especial & ou a função intersection() do set, conforme demonstrado aqui:

In [ ]:
a & b

In [ ]:
a.intersection(b)

Neste exemplo, obtemos a união (membros de qualquer conjunto) usando | ou a função do set union():

In [ ]:
a | b

In [ ]:
a.union(b)

A diferença (membros do primeiro conjunto, mas não do segundo) é obtida usando o símbolo `-` ou a função difference() de set:

In [ ]:
a - b

In [ ]:
a.difference(b)

In [ ]:
b - a

As operações de conjunto mais comuns são união, interseção e diferença, mas temos outras operação:

In [ ]:
# O ou exclusivo (XOR) (itens de um conjunto ou de outro, mas não ambos) usa ^ ou a função symmetric_difference():
a ^ b

In [ ]:
a.symmetric_difference(b)

In [ ]:
# Você pode verificar se um conjunto é um subconjunto de outro (todos os membros
# do primeiro conjunto também estão no segundo conjunto) usando <= ou a função issubset():
a <= b

In [ ]:
a.issubset(b)

In [ ]:
a <= a

In [ ]:
x = {1, 2, 3}
y = {1, 2, 3, 4}
x < y

In [ ]:
x = set()
y = {1, 2, 3}
x <= y

In [ ]:
# Para ser um subconjunto adequado (proper subset), o segundo conjunto precisa
# ter todos os membros do primeiro e mais. Usamos o símbolo < para verificar:
a < b

In [ ]:
a < a

In [ ]:
c = {1, 2, 3}
a < c

In [ ]:
# Um superconjunto (superset) é o oposto de um subconjunto (todos os membros do
# segundo conjunto também são membros do primeiro). Isso usa  >= ou a função issuperset():
a >= b

In [ ]:
a.issuperset(b)

In [ ]:
a >= a

In [ ]:
# E, finalmente, você pode encontrar um superconjunto adequado (proper superset)
# (o primeiro conjunto tem todos os membros do segundo e mais) usando o símbolo >

In [ ]:
b > a

In [ ]:
a > a

In [ ]:
c > a

### 1.5. Adicionando e removendo elementos de um conjunto:

In [ ]:
c = {1, 2, 3}

In [ ]:
c.add(4)
print(c)

In [ ]:
c.add(3)
print(c)

In [ ]:
c.remove(3) # retorna um erro caso o elemento não exista no conjunto
print(c)

In [ ]:
print(c)

In [ ]:
c.discard(4) # remove o elemento, mas caso ele não exista no conjunto, não retorna erro.
print(c)

In [ ]:
x = {1, 2, 3}
y = {4, 5, 6}
x.update(y)

print(x)

**Não é permitido obter um item específico do conjunto, uma vez que set não possui índices.**

In [ ]:
x[1]

In [ ]:
# Frozenset
x = frozenset([1, 2, 3, 4])

In [ ]:
x

In [ ]:
x.add(5)

In [ ]:
y = {2, 3}
x & y

In [ ]:
y & x