![image.png]()
# Parte II - Estruturas de Dados
##05 - Listas
### Linguagem de Programação (Prof. Dr. Henrique Dezani)
Curso de Tecnologia em Análise e Desenvolvimento de Sistemas da Faculdade de Tecnologia de São José do Rio Preto

Na Parte I, começamos com os tipos de dados básicos do Python: booleanos, números inteiros, de ponto flutuante e strings. Se considerarmos eles como átomos, as estruturas de dados desta Parte II são as moléculas. Ou seja, combinamos esses tipos básicos de maneiras mais complexas. Você os usará todos os dias. Grande parte da programação consiste em cortar e colar dados em formas específicas, e essas são suas serras e cola (Lubanovic, 2014).

A maioria das linguagens de computador pode representar uma sequência de itens indexados por sua posição inteira: primeiro, segundo e assim por diante até o último. Lembrando que os índices sempre iniciam em zero.

Na última aula vimos `strings` Python, que são sequências de caracteres. Reveja o exemplo abaixo com os caracteres desta sequência e seus respectivos índices.

In [ ]:
texto = 'Hello World'
for index, caractere in enumerate(texto):
  print('[{}] {}'.format(index, caractere), end='\t')

[0] H	[1] e	[2] l	[3] l	[4] o	[5]  	[6] W	[7] o	[8] r	[9] l	[10] d

O Python possui duas outras estruturas de sequência: tuplas e listas. Eles contêm zero ou mais elementos. Diferentemente das `strings`, os elementos podem ser de tipos diferentes. De fato, cada elemento pode ser qualquer objeto Python. Isso permite criar estruturas tão profundas e complexas quanto você desejar.

`Tuplas` são **imutáveis**; quando você atribui elementos a uma tupla, eles  não podem ser alterados. As `listas` são **mutáveis**, o que significa que você pode inserir e excluir elementos da maneira que desejar.

## 1. Listas (List)
As listas são boas para acompanhar as coisas por ordem, especialmente quando a ordem e o conteúdo podem mudar. Diferentemente das `strings`, as listas são **mutáveis**. Você pode alterar uma lista no local específico, adicionar novos elementos e excluir ou substituir elementos existentes. O mesmo valor pode ocorrer mais de uma vez em uma lista. Veja alguns exemplos de como podemos criar listas a seguir:

In [ ]:
dias_semana = ['Domingo', 'Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado']

for dia in dias_semana:
  print(dia)

Domingo
Segunda-feira
Terça-feira
Quarta-feira
Quinta-feira
Sexta-feira
Sábado

In [ ]:
for (index, valor) in enumerate(dias_semana):
  print(valor, index)

Domingo 0
Segunda-feira 1
Terça-feira 2
Quarta-feira 3
Quinta-feira 4
Sexta-feira 5
Sábado 6

In [ ]:
for index in range(len(dias_semana)):
  print(dias_semana[index])

Domingo
Segunda-feira
Terça-feira
Quarta-feira
Quinta-feira
Sexta-feira
Sábado

Como vimos anteriormente, podemos criar uma lista com **[]**.
Uma lista é composta de zero ou mais elementos, separados por vírgulas e entre colchetes. Outra maneira de criar uma lista é utilizando a **função interna** list(). Veja o exemplo.

In [ ]:
alunos = []
# ou
# alunos = list()

In [ ]:
print(alunos)

[]

In [ ]:
type(alunos)

list

É importante relembrar que uma lista pode aceitar qualquer tipo de objeto e estes podem se repetir na lista. Vejamos um exemplo:

In [ ]:
lista_de_objetos = [1, 'texto', 2.3, True, 1, None, []]

In [ ]:
for item in lista_de_objetos:
  print(item, type(item))

1 <class 'int'>
texto <class 'str'>
2.3 <class 'float'>
True <class 'bool'>
1 <class 'int'>
None <class 'NoneType'>
[] <class 'list'>

##Fica a dica!
Caso a ordem dos elementos não sejam importantes e seja necessário restrigir **apenas objetos únicos**, utilizamos a estrutura de dados `set` (conjunto). Veremos esta estrutura em próximas aulas.

### 1.1. Convertendo outros tipos de dados para lista
A lista é uma das principais estruturas de dados utilizadas nos programas de computadores, portanto, é importante estudarmos como converter outros tipos de dados para listas. Vejamos aluns exemplos:

In [ ]:
# Podemos utilizar a a função interna list() para converter uma string para uma lista de string (caracteres):
list('Fatec')

['F', 'a', 't', 'e', 'c']

In [ ]:
# Podemos utilizar a função interna split, de string, para transformar textos em listas a partir de um elemento separador:
data_aniversario = '30/09/2025'
data_aniversario.split('/')

['30', '09', '2025']

In [ ]:
'Fatec  Rio Preto'.split(' ')

['Fatec', '', 'Rio', 'Preto']

### 1.2. Obter um item usando [offset]
Como nas `strings`, você pode extrair um único valor de uma lista, especificando seu índice (offset, ou deslocamento). Veja o exemplo:

In [ ]:
numeros = [1, 2, 3, 4, 5, 8]

numeros[3]

4

In [ ]:
numeros[8]

IndexError: list index out of range

In [ ]:
len(numeros) # length

6

In [ ]:
#metaprogramação
numeros.__len__()

6

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8]

for i in range(len(numeros)):
  print(i, numeros[i])

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8

In [ ]:
for numero in numeros:
  print(numero)

1
2
3
4
5
6
7
8

In [ ]:
for indice, valor in enumerate(numeros):
  print(indice, valor, numeros[indice])

0 1 1
1 2 2
2 3 3
3 4 4
4 5 5
5 6 6
6 7 7
7 8 8

Podemos utilizar índices negativos, os quais realizam a contagem para trás a partir do final. Veja o exemplo. (Detalhe, podemos fazer a mesma coisa com string).

In [ ]:
dias_semana

In [ ]:
# -7 Domingo
# -6 Segunda-feira
# -5 Terça-feira
# -4 Quarta-feira
# -3 Quinta-feira
# -2 Sexta-feira
# -1 Sábado
# 0 Domingo
# 1 Segunda-feira
# 2 Terça-feira
# 3 Quarta-feira
# 4 Quinta-feira
# 5 Sexta-feira
# 6 Sábado

In [ ]:
dias_semana[-1]

'Sábado'

In [ ]:
dias_semana[-7]

'Domingo'

In [ ]:
dias_semana[0]

'Domingo'

In [ ]:
#usando string:
texto = 'Fatec'
print(texto[0])
print(texto[-1])

F
c

O deslocamento deve ser válido para a lista, ou seja, deve haver uma posição em que você atribuiu um valor anteriormente. Se você especificar uma posição antes do início ou após o final, receberá uma exceção (erro) - **index out of range**. Aqui está o que acontece se tentarmos obter o item na posição 5 do texto.

In [ ]:
print(texto[5])

###1.3 Alterar um item por [índice]

Assim como você pode obter o valor de um item da lista por seu índice, você pode alterá-lo. Veja o exemplo:

In [ ]:
notas = [7.0, 8.0, 7.5, 9.0]
print(notas)

[7.0, 8.0, 7.5, 9.0]

In [ ]:
notas[1] = 6.5
print(notas)

[7.0, 6.5, 7.5, 9.0]

Novamente, o deslocamento da lista precisa ser válido para esta lista. Além disso, é importante lembrar que listas são mutáveis e strings não. Ou seja, você não pode alterar um caractere em uma string dessa maneira. As listas são mutáveis. Você pode alterar quantos itens uma lista contém e os próprios itens.

In [ ]:
texto = 'Fatec'
texto[1] = 'A'

TypeError: 'str' object does not support item assignment

In [ ]:
# Como alterar então?
lista = list(texto)
print(lista)

['F', 'a', 't', 'e', 'c']

In [ ]:
lista[1] = 'A'
print(lista)

['F', 'A', 't', 'e', 'c']

In [ ]:
# Como voltar o tipo para uma string? (for +=?)
palavra = ''
for letra in lista:
  palavra += letra

print(palavra)

FAtec

###1.4 Resolvendo a alteração de uma string usando list() e .join()
A função interna `join()` é o oposto da função interna `split()` e é aplicada apenas para `string`. Com ela podemos juntar uma lista de `string` numa única. Veja o exemplo abaixo para resolvermos o problema de alteração de caracteres de uma string (imutável).

In [ ]:
texto = 'Fatec'
lista = list(texto)
print(lista)

lista[1] = 'A'
print(lista)

texto = '    '.join(lista)
print(texto)

# Como usamos o .join?

['F', 'a', 't', 'e', 'c']
['F', 'A', 't', 'e', 'c']
F    A    t    e    c

In [ ]:
# Dada uma frase informada pelo usuário,
# crie um slug da frase para ser utilizado na url de um site.

title = 'ensinando  python na faculdade'
slug = 'ensinando-python-na-faculdade'

lista = title.split()
print(lista)

slug = '-'.join(lista)
print(slug)

['ensinando', 'python', 'na', 'faculdade']
ensinando-python-na-faculdade

In [2]:
comentario = '''Não gostei da panela que comprei pois a tampa
 da panela estava azul e eu queria vermelha.'''

stop_words = ['do', 'da', 'o', 'a', 'e', 'eu', 'que']

# Exercício Rápido! Como remover as stop words?

In [ ]:

lista = comentario.split()
print(lista)

for stop_word in stop_words:
    if stop_word in lista:
        itens = lista.count(stop_word)
        for i in range(itens):
            lista.remove(stop_word)

print(" ".join(lista))

['Não', 'gostei', 'da', 'panela', 'que', 'comprei', 'pois', 'a', 'tampa', 'da', 'panela', 'estava', 'azul', 'e', 'eu', 'queria', 'vermelha.']
Não gostei panela comprei pois tampa panela estava azul queria vermelha.

### 1.5. Obter uma fatia para extrair itens por intervalo de deslocamento

Você pode extrair uma subsequência de uma lista usando uma fatia (slice):

In [ ]:
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for indice, numero in enumerate(numeros):
  print(indice, numero)

In [ ]:
numeros[2]

In [ ]:
numeros[2:] # ~range(inicial, final-1) = numeros[offset inicial, offset final - 1]

In [ ]:
for numero in numeros[2:4]:
  print(numero)

In [ ]:
coordenadores = ['Teresa', 'Mario', 'Walter']

for index, coordenador in enumerate(coordenadores):
  print(index, coordenador)

In [ ]:
# neste caso, definimos o início e o intervalo final (-1)
# Uma fatia de uma lista também é uma lista.
coordenadores[0:2] # obtém os índices 0 e 1

In [ ]:
coordenadores[:]

In [ ]:
coordenadores[:2:]

In [ ]:
# Neste exemplo começa no início e vai para a direita de 2 em 2:
# coordenadores[0:len(coordenadores):1]
coordenadores[::2]

In [ ]:
# Aqui, começamos no final e vamos à esquerda de 1 em 1, ou seja, reverter a lista:
coordenadores[::-1]

In [ ]:
# Vale lembrar que string é uma sequência de caracteres, portanto, a mesma manipulação é válida para ele:
nome = 'Fatec Rio Preto'
print(nome[::2])
print(nome[1:3])
print(nome[::-1])

###1.6 Adicione um item ao final com a função .append()

A maneira tradicional de adicionar itens a uma lista é usando a função interna .append() um por um até o final. Nos exemplos anteriores, esquecemos o coordenador do EaD, prof. João, mas tudo bem, porque a lista é **mutável**, portanto, para que possamos adicioná-lo agora:

In [ ]:
coordenadores

In [ ]:
coordenadores.append('João')
print(coordenadores)

###1.7. Combine listas usando .extend() ou +=

Você pode mesclar uma lista em outra usando a função extend(). Suponha que tenhamos uma lista com professores e queremos fundí-la com a lista de coordenadores, de maneira a exibir todo o corpo docente:

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']
print(professores)
print(len(professores))

In [ ]:
print(coordenadores)
print(len(coordenadores))

In [ ]:
professores.append(coordenadores)
print(professores)

In [ ]:
len(professores)

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']

professores.extend(coordenadores)
print(professores)

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']

professores += coordenadores
print(professores)

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']

for coordenador in coordenadores:
  professores.append(coordenador)

print(professores)

Se tivéssemos usado append(), para professores, teríamos os coordenadores adicionados como um único item da lista em vez de mesclar seus itens. Isso novamente demonstra que uma lista pode conter elementos de tipos diferentes. Nesse caso, cinco strings e uma lista de três strings.

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar']
professores += coordenadores
print(professores)

In [ ]:
len(professores)

###1.8. Adicionar um item por índice com `insert()`:

A função `append()` adiciona itens apenas ao final da lista. Quando você deseja adicionar um item antes de qualquer índice na lista, use `insert()`. O deslocamento 0 é inserido no início. Um deslocamento além do final da lista é inserido no final, como `append()`, para que você não precise se preocupar com o lançamento de uma exceção pelo Python.

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'João']
professores.insert(2, 'Lucimeire')
print(professores)

In [ ]:
len(professores)

In [ ]:
professores.insert(20, 'Marildo') # ~ append (considerando que a lista tem apenas 10 elementos.)
print(professores)

In [ ]:
for indice, valor in enumerate(professores):
  print(indice, valor)

###1.9. Excluir um item por deslocamento com del

Vamos supor que professor Marildo tenha saído da instituição para fazer seu doutorado em Harvard. Para excluir da lista, basta utilizar a instrução `del`, do Python, informando qual item da lista deverá ser excluído. Para obter o item da lista, utilizamos seu índice.

In [ ]:
print(professores)

In [ ]:
del professores[1]
print(professores)

In [ ]:
del professores[-2]
print(professores)

Quando excluímos um item por sua posição na lista, os itens a seguir retornam para ocupar o espaço do item excluído e o comprimento da lista diminui em um.

`del` é uma instrução Python, não um método de lista - você não diz `professores[-2] .del()`. É uma espécie de reverso da atribuição (=): desanexa um nome de um objeto Python e pode liberar a memória do objeto se esse nome foi a última referência a ele.

###1.10 Excluir um item por valor com `remove()`

Se você não tem certeza ou não se importa onde o item está na lista, use remove () para excluí-lo por valor. Por exemplo, vamos supor que o professor Carlos resolveu se aposentar e não mais ministrará aulas (um perda inestimável, aliás).

In [ ]:
print(professores)

In [ ]:
professores.remove('Lucimar')
print(professores)

### 1.11. Obter um item por sua posição e excluí-lo usando pop()

Você pode obter um item de uma lista e excluí-lo da lista ao mesmo tempo usando `pop()`. Se você chamar `pop()` com um índice, ele retornará o item nesse deslocamento; sem argumento, ele usa -1. Portanto, `pop(0)` retorna a cabeça (início) da lista e `pop()` ou `pop(-1)` retorna a cauda (final), como mostrado no exemplo abaixo:

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'João']

In [ ]:
# Em uma reunião pedagógica, os professores devem fazer uma apresentação rápida sobre o tema de sua pesquisa na instituição.
# Serão chamados sempre os últimos que chegaram na reunião.
escolhido = professores.pop(1)
print(escolhido)
print(professores)

#### Adiantando um pouco o conteúdo de Estrutura de Dados

Se você usar `append()` para adicionar novos itens ao final e `pop()` para removê-los do mesmo lado, você implementou uma estrutura de dados conhecida como **pilha** **LIFO** (Last In, First Out - Último a Entrar, Primeiro a Sair). Entretanto, se você utilizar `pop(0)` você criará uma **fila** **FIFO** (First In, First Out - Primeiro a Entrar, Primeiro a Sair). Eles são úteis quando você deseja coletar dados à medida que eles chegam e trabalham com o primeiro mais antigo (FIFO) ou o mais novo primeiro (LIFO).

###1.12. Encontrar o deslocamento de um item por valor com `index()`

Se você deseja conhecer o deslocamento de um item em uma lista por seu valor, use index(), como no exemplo abaixo:

In [ ]:
professores = ['Henrique', 'Carlos', 'Djalma', 'Maura', 'Lucimar', 'Adriano', 'João']

In [ ]:
print(professores)

In [ ]:
professores.index('Maura')

In [ ]:
professores.index('Valéria')

###1.13. Testar um valor com `in`

A maneira Pythonic de verificar a existência de um valor em uma lista é bem simples. Veja no exemplo abaixo, e note que o mesmo valor pode estar em mais de uma posição na lista, portanto, enquanto estiver lá pelo menos uma vez, retornará True:

In [ ]:
print(professores)

In [ ]:
'Henrique' in professores

In [ ]:
'Valéria' in professores

In [ ]:
if 'Henrique' in professores:
  professores.remove('Henrique')

In [ ]:
print(professores)

###1.14.Contar ocorrências de um valor usando count ()

 Para contar quantas vezes um valor específico ocorre em uma lista, basta usar a função `count()`. Veja os exemplos abaixo:

In [ ]:
professores.count('Henrique')

In [ ]:
professores.append('Maura')

In [ ]:
professores.count('Maura')

###1.15. Obter comprimento da lista usando `len()`

Enquanto count() verifica a quantidade de ocorrência de um deteminado item dentro da lista, a função len() retorna o número de itens em uma lista. Veja o exemplo:

In [ ]:
print(professores)

In [ ]:
len(professores)

###1.16. Reordenar itens com `sort()`

Você geralmente precisará classificar os itens em uma lista por seus valores, e não por suas compensações. O Python fornece duas funções, quais sejam:
- A função de lista sort() classifica a própria lista, no local.
- A função geral classificada () retorna uma cópia classificada da lista.

Se os itens da lista forem numéricos, serão classificados por padrão em ordem numérica crescente. Se forem strings, serão classificados em ordem alfabética.

In [ ]:
import random
numeros = random.sample(range(0, 30), 10)
numeros

In [ ]:
numeros.sort()
numeros

In [ ]:
lista_numeros = [1, 5, 2, 8, 12, 0]
lista_numeros_ordenada = sorted(lista_numeros)

print(lista_numeros)
print(lista_numeros_ordenada)

A ordem de classificação padrão é crescente, mas você pode adicionar o argumento `reverse=True` na função `sort()` para defini-lo como decrescente. Veja o exemplo:

In [ ]:
numeros.sort(reverse=True)
print(numeros)

In [ ]:
ordenados = sorted(numeros)
print(numeros)
print(ordenados)

In [ ]:
ordenados = sorted(numeros, reverse=True)
print(ordenados)

In [ ]:
numeros[::-1]

###1.17. Atribuir com =, Copiar com `copy()`

Quando você atribui uma lista a mais de uma variável, alterar a lista em um local também a altera na outra, conforme ilustrado aqui:

In [ ]:
a = 3
b = a # cópia do valor
b = 5
print(a)
print(b)

In [ ]:
lista_a = [1, 2, 3]
lista_b = lista_a # cópia da referência

lista_b[1] = 5

print(lista_a)
print(lista_b)

**Ponteiro**: lista_b apenas se refere ao mesmo objeto de lista que lista_a; portanto, se alterarmos o conteúdo da lista usando o nome lista_a ou lista_b, isso será refletido em ambos.

Você pode copiar os valores de uma lista para uma nova e independente usando qualquer um destes métodos:
- A função de cópia de lista: `copy()`
- A função de conversão de lista: `list()`
- A fatia da lista [:]

Usando as listas de exemplo criadas anteriormente. Criaremos uma cópia de lista_a em lista_b com a função copy(), lista_c com a função de conversão list()e lista_d com uma fatia da lista:

In [ ]:
lista_a = [1, 2, 3]

lista_b = lista_a.copy()
lista_c = list(lista_a)
lista_d = lista_a[:]

Novamente, lista_b, lista_c e lista_d são cópias de lista_a: são novos objetos com seus próprios valores e sem conexão com o objeto de lista original [1, 2, 3]ao qual a se refere. Alterar lista_a não afeta as cópias lista_b, lista_c e lista_d. Veja no exemplo:

In [ ]:
lista_a[0] = 5

print(lista_a)
print(lista_b)
print(lista_c)
print(lista_d)